<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ejercicioTwitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE9FA5D11C6CF80000E32605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9FA5E51C6CF80000E32605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9FA5F01C6CF80000E32605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
